#diff
  .box
    %h3= t('chronicle.metadata')
    %table{:class=>"fieldset"}
      %tbody
        %tr
          %th{:class=>"label"}= t('page_title')
          %td{:class=>"field"}= field_diff(version, :title)
        %tr
          %th{:class=>"label"}= t('slug')
          %td{:class=>"field"}= field_diff(version, :slug)
        %tr
          %th{:class=>"label"}= t('breadcrumb')
          %td{:class=>"field"}= field_diff(version, :breadcrumb)
        %tr
          %th{:class=>"label"}= t('layout')
          %td{:class=>"field"}= layout_diff(version)
        %tr
          %th{:class=>"label"}= t('type')
          %td{:class=>"field"}= field_diff(version, :class_name, "<normal>")
        %tr
          %th{:class=>"label"}= t('status')
          %td{:class=>"field"}= status_diff(version)
  
  .box
    %h3= t('chronicle.page_parts')
    #pages
      - version.diff[:parts].each do |part|
        = part_diff(part)

    %span.clear

= updated_stamp(version.instance)
- form_tag(edit_admin_page_path(:id => version.versionable_id), :method => :get) do
  = hidden_field_tag(:version, version.number)
  = submit_tag("#{I18n.t('chronicle.revert_to_version')} #{version.number}", :name => nil)
