.popup
  .version-info
    .popup_title= t('version') + ' ' + @version.number.to_s
    %abbr{:title => @version.instance.updated_at}
      = time_ago_in_words(@version.instance.updated_at) + " #{t('chronicle.ago')}"
    %br
    = t('chronicle.by')
    %span.version-author= @version.saved_by.name
  
    %br
    = t('status') + ': '
    %span.version-status= @version.instance.status.name.downcase
    
    .buttons
      = link_to t('chronicle.show_diff'), [:admin, @version], :class => "diff-link"