#diff.set
  .box
    .row
      %p
        %label= I18n.t('name') + ":"
        %span= field_diff(version, :name)
    %div{:style => "clear:both"}
    .row
      %p
        %label= I18n.t('content_type') + ":"
        %span
          - if version.previous
            = field_diff(version, :content_type)
          - else
            = h(version.instance.content_type)
    %div{:style => "clear:both"}
    .row
      %p
        %label= I18n.t('status') + ":"
        %span= status_diff(version)
    %div{:style => "clear:both"}
    
  .box
    %h3= I18n.t('content') + ":"
    #pages
      .page{:style => "padding-top:0"}
        - if version.previous
          %pre= diff(h(version.previous.instance.content), h(version.instance.content))
        - else
          %pre= h(version.instance.content)
    %div{:style => "clear:both"}

= updated_stamp(version.instance)

- form_tag(edit_admin_layout_path(:id => version.versionable_id), :method => :get) do
  = hidden_field_tag(:version, version.number)
  = submit_tag("#{I18n.t('chronicle.revert_to_version')} #{version.number}", :name => nil)